@import 'tailwindcss';

@theme {
  --color-neutral-950: #121212;
  --color-neutral-900: #1f1f1f;
  --color-neutral-800: #2a2a2a;
  --color-neutral-400: #b3b3b3;

  --color-primary-600: #1abc54;
  --color-primary-500: #1ed760;
  --color-primary-400: #3be477;

  --shadow-play: 0 8px 8px rgba(0, 0, 0, 0.3);

  --font-display: 'sans-serif';
  --font-display--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --font-display--font-variation-settings: 'opsz' 32;
}
